Xming/error_test.json
{
  "name": "error-test",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.myUrls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -360
      ],
      "id": "70f28e95-085f-42cb-b44b-e6173235ceb9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 手动填写 URL 列表\nconst myUrls = [\n  \"https://docs.n8n.io/hosting/\",\n  \"https://example.com/page2\",\n  \"https://docs.n8n.io/code/\"\n];\n\n// 返回一个 item，其中包含变量名 myUrls\nreturn [\n  {\n    json: {\n      myUrls: myUrls\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        -400
      ],
      "id": "812ede17-560d-4995-8ed2-6016b94b0d24",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "myUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -300,
        -400
      ],
      "id": "f24b24d2-cc7b-451a-915d-e0a866e8ef28",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -100,
        -400
      ],
      "id": "b6c8bce4-b72f-4282-8049-a4bc29793951",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        320,
        -360
      ],
      "id": "1f44bc59-aea8-4fe2-9744-8d03a1e5b9aa",
      "name": "Wait",
      "webhookId": "e269c5d0-df55-49e5-a5b0-fa6371e2a05b"
    },
    {
      "parameters": {
        "content": "## 错误处理测试\n",
        "height": 480,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        -560
      ],
      "typeVersion": 1,
      "id": "8028168c-65d2-4819-945a-9c6e5d6556b5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        -400
      ],
      "id": "42e76b55-57f8-4cec-b1d0-e784e438536a",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "eNrNo8E9eaZBPMai"
  },
  "versionId": "51574830-53dc-4877-8f5d-936c8a004041",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "842e089ebeca6cebf71676a6a2ba2cddf5a9039b264a25f6a7ee9230b3376b1b"
  },
  "id": "JrujLsOC2rir3rKU",
  "tags": [
    {
      "createdAt": "2025-06-03T14:10:49.881Z",
      "updatedAt": "2025-06-03T14:10:49.881Z",
      "id": "IJZ7COWVGX0TGtYe",
      "name": "error"
    }
  ]
}