Xming/http.json
{
  "name": "http",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.myUrls }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        80
      ],
      "id": "cdeebf3f-8615-463f-a864-14e621b503da",
      "name": "HTTP Request",
      "retryOnFail": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 手动填写 URL 列表\nconst myUrls = [\n  \"https://docs.n8n.io/hosting/\",\n  \"https://example.com/page2\",\n  \"https://docs.n8n.io/code/\"\n];\n\n// 返回一个 item，其中包含变量名 myUrls\nreturn [\n  {\n    json: {\n      myUrls: myUrls\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        60
      ],
      "id": "464ad992-e700-4702-b567-9aa4a1bc7665",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "myUrls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        240,
        60
      ],
      "id": "23be719f-9f38-4cd6-849d-10a0f4a18e25",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        460,
        60
      ],
      "id": "f0a56ef2-29ee-4c0d-9da0-17f62dd2fe05",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        980,
        80
      ],
      "id": "349ec0d0-4541-411d-9da2-7dd06aab479d",
      "name": "Wait",
      "webhookId": "e269c5d0-df55-49e5-a5b0-fa6371e2a05b"
    },
    {
      "parameters": {
        "content": "## Http 请求\n",
        "height": 940,
        "width": 1580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -340
      ],
      "typeVersion": 1,
      "id": "9836262e-e9ba-405e-a9df-b951a8880e8a",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -120
      ],
      "id": "679d39f2-485a-42fd-9503-ebea6a72051b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "artificial+intelligence"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        -180
      ],
      "id": "ac995f55-854e-4a70-9699-3ccb9792e362",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        20,
        360
      ],
      "id": "fec0e8b5-4abc-4165-9eed-508f7eb8cc71",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dizE2uMw2id5nXyguL486nJZlQ_exECH7-3yGEivVZ8",
          "mode": "list",
          "cachedResultName": "ocr-text",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dizE2uMw2id5nXyguL486nJZlQ_exECH7-3yGEivVZ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dizE2uMw2id5nXyguL486nJZlQ_exECH7-3yGEivVZ8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidates",
              "displayName": "candidates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usageMetadata",
              "displayName": "usageMetadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "modelVersion",
              "displayName": "modelVersion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        460,
        360
      ],
      "id": "d11e7b13-2d72-4440-8153-9852934ac5a9",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bB5yWZ7H611nnPK6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "56fa0dd0-c4ce-4a3a-b5e3-53e7469547e6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        360
      ],
      "id": "5b57d410-3893-4c1a-bf38-1e51b3248db9",
      "name": "Webhook",
      "webhookId": "56fa0dd0-c4ce-4a3a-b5e3-53e7469547e6",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        680,
        360
      ],
      "id": "2ff5d073-8e0b-40a8-8932-a2790732904f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"请从图片中提取全部文本内容。严格按照图片中的原有格式和排版进行输出。输出中不得包含任何额外的说明文字、解释、前言、后语或图片中不存在的符号。只输出纯粹的提取结果。最后，将所有中文繁体字转换为中文简体字。最后分析结果中的数据，验证收费总额是否正确。\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"image/jpeg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"maxOutputTokens\": 65536\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        360
      ],
      "id": "a2872516-6daf-4adc-b271-e2b07dd256e3",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f204e58-30a1-43b1-a4c4-b6b6825420f0",
  "meta": {
    "instanceId": "842e089ebeca6cebf71676a6a2ba2cddf5a9039b264a25f6a7ee9230b3376b1b"
  },
  "id": "2trwFbZLiIPmoIOJ",
  "tags": [
    {
      "createdAt": "2025-06-03T14:11:19.745Z",
      "updatedAt": "2025-06-03T14:11:19.745Z",
      "id": "rqkVdtqWjNnkkPmS",
      "name": "http"
    }
  ]
}